<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Add New Employee</h2>
        <form>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
          </div>
          <div class="mb-3">
            <label for="idNumber" class="form-label">ID Number</label>
            <input type="text" class="form-control" id="idNumber" [(ngModel)]="employee.idNumber" name="idNumber"  required (input)="validateId()">
            <div *ngIf="idInvalid" class="error-message">Identity must contain exactly 9 digits</div>
          </div>
          <div class="mb-3">
            <label for="dateStartingWork" class="form-label">Starting Work Date</label>
            <input type="date" class="form-control" id="dateSartingWork" [(ngModel)]="employee.dateSartingWork" name="dateSartingWork">
          </div>
          <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth">
          </div>


          <!-- <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" [(ngModel)]="employee.gender" name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div> -->


       
       

          <br>
          <button type="submit" class="btn btn-primary" (click)="addEmployee()">Add</button>
          <span style="margin: 0 100px;"></span> 
          <button type="submit" class="btn btn-primary" (click)="cancelaAddEmployee()">Cancel</button>
          <span style="margin: 0 100px;"></span>
          <button type="submit" class="btn btn-primary" (click)="addRoles()">Add roles</button>          
        </form>
      </div>
    </div>
  </div>
  
