<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Employee Details</h5>
        <p class="card-text">
          <strong>First Name:</strong> {{ employee.firstName }}<br>
          <strong>Last Name:</strong> {{ employee.lastName }}<br>
          <strong>ID Number:</strong> {{ employee.idNumber }}<br>
          <strong>Start Date:</strong> {{ employee.dateSartingWork | date: 'dd/MM/yyyy' }} 
        </p>
      </div>
    </div>
  </div>
  
